<div class="container">
  <h1>
    Forgot password
  </h1>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" class="col-md-6 text-center border border-light p-5">
    <div class="form">
      <mat-form-field class="example-form-field">
        <mat-label> Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
      <button type="submit" [disabled]="!forgotPasswordForm.valid" mat-raised-button color="primary">Submit</button>
      <a [routerLink]="['/']">Back</a>
    </div>
  </form>
</div>
