<div class="container-fluid Mycontainer">
    <h1>
        Forgot password
    </h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" class="col-md-6 text-center ">
        <div class="form d-flex justify-content-center align-items-center flex-column ">
            <mat-form-field>
                <mat-label> Email</mat-label>
                <input matInput type="email" formControlName="email" required>
            </mat-form-field>
            <button class="forgotPassBtn mb-3"  type="submit" [disabled]="!forgotPasswordForm.valid" mat-raised-button color="primary">Submit</button>
            <a [routerLink]="['/']">Back</a>
        </div>
    </form>
</div>
