<div class="container-fluid">
  <button class="float-right m-5" [routerLink]="['/home/users-group']" mat-raised-button color="primary">Back</button>

  <div class="row">
    <div class="col-12">
      <h1>Create Group</h1>
    </div>
    <div class="row">
      <form [formGroup]="createGroup" (ngSubmit)="onSubmit()">
        <div class="col-12 d-flex justify-content-center align-items-center ml-5 mt-5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Group Name</span>
          </div>
          <input formControlName="name" type="text" class="form-control mr-5">
          <button type="submit" class="mr-5 btn-block btn-primary btn-lg">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
