.my-table {
    width: 300px;
}

.my-icon {
    user-select: none;
    cursor: pointer;
}

.my-icon:hover {
    color: rgb(32, 66, 218);
}

@media only screen and (max-width: 350px) {
    .my-table {
        width: 200px;
    }
}