<div class="container-fluid">
    <div class="row m-5">
        <div class="col d-flex justify-content-end">
            <mat-form-field class="example-form-field mr-5">
                <mat-label>New Role</mat-label>
                <input required=true matInput type="text" #role>
            </mat-form-field>
        </div>
        <div class="col d-flex align-items-center">
            <button class="mr-3" mat-raised-button (click)="addRole(role.value)" color="primary">New Role</button>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <table mat-table [dataSource]="allRoles" class="mat-elevation-z8  my-table ">
                <ng-container matColumnDef="Roles">
                    <th mat-header-cell *matHeaderCellDef> UserRoles </th>
                    <td class="d-flex p-3 align-items-center" mat-cell *matCellDef="let element">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col d-flex align-items-around">
                                    {{element.name}}
                                </div>
                                <mat-icon (click)="deleteRole(element.name)" class="my-icon mr-3" aria-hidden="false" aria-label="create">delete</mat-icon>
                                <mat-icon (click)="updateRole(element.name)" class="my-icon" aria-hidden="false" aria-label="create">create</mat-icon>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>



</div>