<div class="container-fluid">
    <div class="row m-5 d-flex justify-content-center">
        <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" class="d-flex justify-content-between align-items-center">
            <mat-form-field>
                <mat-label>New Role</mat-label>
                <input formControlName="role" required=true matInput type="text" #role>
            </mat-form-field>
            <button class="ml-4" mat-raised-button [disabled]="!form.valid" color="primary">New Role</button>
        </form>

    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <table mat-table [dataSource]="allRoles" class="mat-elevation-z8  my-table ">
                <ng-container matColumnDef="Roles">
                    <th mat-header-cell *matHeaderCellDef> UserRoles </th>
                    <td class="d-flex p-3 align-items-center" mat-cell *matCellDef="let element">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col d-flex align-items-around">
                                    {{element.name}}
                                </div>
                                <mat-icon (click)="deleteRole(element.name)" class="mr-3 table-icon" aria-hidden="false" aria-label="create">delete</mat-icon>
                                <mat-icon (click)="updateRole(element.name)" class="table-icon" aria-hidden="false" aria-label="create">create</mat-icon>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>



</div>