.container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
}

table {
    width: 330px;
    table-layout: fixed;
}

table th {
    text-align: center;
}

table tr {
    text-align: center;
}

table td {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 48px;
    align-items: center;
}

.rolebtn {
    width: 361px;
    display: flex;
    justify-content: space-evenly;
    margin: 11px;
    padding: 14px;
}