<!-- <mat-drawer-container class="example-container">

    <mat-drawer mode="side" opened>
        <div class="options">
            <button mat-stroked-button [routerLink]="['clients']">Clients</button>
            <button mat-stroked-button [routerLink]="['users']">Users</button>
            <button mat-stroked-button [routerLink]="['roles']">Roles</button>

            <button (click)="logout()" mat-stroked-button>
        <mat-icon   >exit_to_app</mat-icon>
        Logout
      </button>

        </div>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container> -->

<mat-toolbar>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
<mat-icon>menu</mat-icon>
</button>
    <span class="title">Heimdall</span>
    <span class="example-spacer"></span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>

</mat-toolbar>


<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="options">
            <button mat-stroked-button [routerLink]="['clients']">Clients</button>
            <button mat-stroked-button [routerLink]="['users']">Users</button>
            <button mat-stroked-button [routerLink]="['roles']">Roles</button>

            <button (click)="logout()" mat-stroked-button>
    Logout
  </button>
        </div>
    </mat-drawer>


    <router-outlet></router-outlet>

</mat-drawer-container>