.sidenav {
  height: 93vh;
  background-color: white;
}

.navbar-icon {
  font-size: 4vh;
  width: auto;
  height: auto;
  user-select: none;
  cursor: pointer;
}

.navbar-icon:hover {
  color: var(--hover-icon-color)
}
