<div class="container-fluid p-0">
  <nav class="navbar navbar-light bg-light">
    <mat-icon class="navbar-icon mr-5" (click)="drawer.toggle()">menu</mat-icon>
    <p class="my-title user-select-none h2 p-0 m-0 mr-auto">Heimdall</p>
    <h4 class="mr-3 mb-0">{{admin}}</h4>
    <mat-icon class="navbar-icon" [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Account Settings icon">
      account_circle
    </mat-icon>
    <mat-menu class="p-2" #menu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
  </nav>


  <mat-drawer-container class="sidenav" autosize>
    <mat-drawer class="d-flex justify-content-center p-3 " #drawer mode="side">
      <mat-accordion class="d-flex justify-content-center mb-4">
        <mat-expansion-panel class="w-100" #mep="matExpansionPanel" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <ng-container *ngIf="realm">
                <div> {{realm.displayName}}</div>
              </ng-container>
              <ng-container *ngIf="!realm">
                <div> Realm</div>
              </ng-container>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <div class="d-flex justify-content-center  " *ngFor="let i of realms">
              <button class="w-100 mb-2" (click)="changeRealm(i)"
                      mat-raised-button> {{i.displayName}}</button>
            </div>
          </mat-list>
          <mat-action-row class="p-0">
            <button type="button" [routerLink]="['add-realm']" class="btn-block btn-primary pt-2 pb-2 ">Add New Realm
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="d-flex flex-column">
        <li class=" d-flex justify-content-center mb-3">
          <button type="button" [routerLink]="['realm-settings']" class="btn-block btn-primary btn-lg">Realm Settings
          </button>
        </li>
        <li class=" d-flex justify-content-center mb-3">
          <button type="button" [routerLink]="['clients']" class="btn-block btn-primary btn-lg">Clients</button>
        </li>
        <li class=" d-flex justify-content-center mb-3">
          <button type="button" [routerLink]="['users']" class="btn-block btn-primary btn-lg">Users</button>
        </li>
        <li class=" d-flex justify-content-center mb-3">
          <button type="button" [routerLink]="['users-group']" class="btn-block btn-primary btn-lg">Users Group</button>
        </li>
        <li class=" d-flex justify-content-center mb-3">
          <button type="button" [routerLink]="['roles']" class="btn-block btn-primary btn-lg">Roles</button>
        </li>
        <li class=" d-flex justify-content-center mb-3">
          <button type="button" [routerLink]="['identity-provider']" class="btn-block btn-primary btn-lg">
            Identity-Provider
          </button>
        </li>
        <li class=" d-flex justify-content-center mb-3">
          <button type="button" [routerLink]="['user-session']" class="btn-block btn-primary btn-lg">Session</button>
        </li>
      </div>

    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
