.background-color {
  height: 100vh;
  background: var(--background-color);
  background-size: 400% 400%;
  -webkit-animation: BackgroundColorAnimation 19s ease infinite;
  -moz-animation: BackgroundColorAnimation 19s ease infinite;
  animation: BackgroundColorAnimation 19s ease infinite;
}

.title-color {
  font-size: 4vw;
  background: var(--login-title-color);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #cfcfe33d;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 4px 4px 2px rgba(45, 45, 89, 0.52);
}

@-webkit-keyframes BackgroundColorAnimation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 51%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes BackgroundColorAnimation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 51%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes BackgroundColorAnimation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 51%
  }
  100% {
    background-position: 0% 50%
  }
}

.h1 {
  font-size: 4vw;
  margin-top: 10vw;
  margin-bottom: 4vw;
  background: var(--login-title-color);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #cfcfe33d;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 4px 4px 2px rgba(45, 45, 89, 0.52);
}
