<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-6 d-flex justify-content-end">
      <table mat-table [dataSource]="allRoles" class="w-25 mat-elevation-z8 my-table">
        <ng-container matColumnDef="Roles">
          <th mat-header-cell *matHeaderCellDef> All Roles</th>
          <td class="d-flex align-content-center p-3" mat-cell *matCellDef="let role">
            {{role.name }}
            <div class="w-100">
              <mat-icon (click)="addRole(role)" class="table-icon float-right" aria-hidden="false" aria-label="move">
                arrow_right_alt
              </mat-icon>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-6">
      <table mat-table [dataSource]="userRoles" class="w-25 mat-elevation-z8 my-table">
        <ng-container matColumnDef="Roles">
          <th mat-header-cell *matHeaderCellDef> User Roles</th>
          <td class="d-flex align-items-center p-3" mat-cell *matCellDef="let role">
            {{role.name }}
            <div class="w-100">
              <mat-icon (click)="deleteRole(role)" class="table-icon float-right" aria-hidden="false"
                        aria-label="delete">delete
              </mat-icon>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
