<div class="container-fluid">
  <div class="row">
    <div class="col-12 ">
      <button class="float-right m-5" [routerLink]="['/home/users-group']" mat-raised-button color="primary">Back
      </button>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-10 offset-1">
      <nav class="groupNav navbar navbar-dark bg-primary ">
        <a *ngIf="group" class="navbar-brand">{{group.name}}</a>
        <div class="dropdown usersList" *ngIf="group">
          <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Add role for all users
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="group">
            <a (click)="addRoleToAllUsers(role)" *ngFor="let role of roles"
               class="dropdown-item">{{role.name}}</a>
          </div>
        </div>
        <div class="dropdown usersList">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Add user in this group
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a (click)="addUserToGroup(user)" *ngFor="let user of users"
               class="dropdown-item">{{user.username}}</a>
          </div>
        </div>
      </nav>
      <table class="table groupTable border border-dark ">
        <thead>
        <tr>
          <th scope="col">Users</th>
          <th scope="col">User Roles</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of (group)?.users ">
          <td class="groupName" scope="row">
            {{user.username}}
          </td>
          <td>
            <button (click)="userRoles(user)" userRoles mat-raised-button color="primary">Roles</button>
          </td>
          <td>
            <button (click)="deleteUserFromGroup(user)" userRoles mat-raised-button color="warn">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

