<div class="container-fluid mat-elevation-z4" >
  <div class="row ml-4 ">
    <div class="col d-flex align-items-center"  >
      <ng-container *ngIf="realm">
        <h3 class="m-0 pl-2 pt-3"  >{{realm.name}}</h3>
      </ng-container>
      <span (click)="deleteRealmByName()" *ngIf="realm" class="material-icons ml-3 pt-3 realm-icon">
        delete
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="General">
          <mat-card>
            <mat-card-content>
              <app-realm-general-setting></app-realm-general-setting>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="Login">
          <mat-card>
            <mat-card-content>
              <app-realm-login-setting></app-realm-login-setting>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>

