<div class="container">
  <h1>
    Forgot password
  </h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()" class="col-md-6 text-center border border-light p-5">
    <div class="form">
      <mat-form-field>
        <mat-label> Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Confirm password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required>
      </mat-form-field>

      <button type="submit" [disabled]="!changePasswordForm.valid" mat-raised-button color="primary">Submit</button>
      <a [routerLink]="['/']">Home</a>
    </div>
  </form>
</div>
