<div class="container-fluid my-container d-flex justify-content-center flex-column">
    <h1 class="text-center">
        Heimdall
    </h1>
    <div class=" my-form d-flex justify-content-center ">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="col-md-6 text-center border border-light p-5 d-flex justify-content-center border-0 flex-column align-items-center">
            <h3 class="errormessaje" *ngIf="errormessaje">
                Invalid Credentials
            </h3>
            <mat-form-field class="example-form-field">
                <mat-label> Username</mat-label>
                <input matInput type="text" formControlName="username" required>
            </mat-form-field>

            <mat-form-field class="example-form-field">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
            <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Submit</button>
        </form>
    </div>
</div>