<div class="container">
    <h1>
        Heimdall
    </h1>
    <div class="form">
        <h3 *ngIf="errormessaje">
            Invalid Credentials
        </h3>
        <mat-form-field class="example-form-field">
            <mat-label> Username</mat-label>
            <input matInput type="text" [(ngModel)]="username">
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Password</mat-label>
            <input matInput type="text" [(ngModel)]="password">
        </mat-form-field>
        <button (click)="login()" mat-raised-button color="primary">login</button>
    </div>
</div>