<div class="dialog">

  <form class="container-fluid" [formGroup]="roleFrom">
    <div class="mb-4 row">
      <div class="col-6 offset-3">
        <mat-label>New Role Name</mat-label>
        <input type="text" autocomplete="off" class="form-control" formControlName="newRole" placeholder="" aria-label="" aria-describedby="basic-addon1">
      </div>
    </div>
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-6 d-flex justify-content-end">
        <table mat-table [dataSource]="allResources" class="w-25 mat-elevation-z8 my-table">
          <ng-container matColumnDef="Roles">
            <th mat-header-cell *matHeaderCellDef> All Roles</th>
            <td class="d-flex align-content-center p-3" mat-cell *matCellDef="let resource">
              {{resource.name }}
              <div class="w-100">
                <mat-icon (click)="addResource(resource)" class="table-icon float-right" aria-hidden="false"
                          aria-label="move">
                  arrow_right_alt
                </mat-icon>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="col-6">
        <table mat-table [dataSource]="resources" class="w-25 mat-elevation-z8 my-table">
          <ng-container matColumnDef="Roles">
            <th mat-header-cell *matHeaderCellDef> User Roles</th>
            <td class="d-flex align-items-center p-3" mat-cell *matCellDef="let resource">
              {{resource.name}}
              <div class="w-100">
                <mat-icon (click)="deleteResource(resource)" class="table-icon float-right" aria-hidden="false"
                          aria-label="delete">delete
                </mat-icon>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  </form>

  <div mat-dialog-actions class="mt-5">
    <button class="btn btn-primary mr-5" [mat-dialog-close]="roleFrom.value" cdkFocusInitial>Submite</button>
    <button class="btn btn-danger" [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
  </div>

</div>
