<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ realm.displayName }}</h1>
    <span class="space"></span>

    <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="logout()" mat-menu-item>
        Logout <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="vh-100">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['account']">Account</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container p-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



