<form [formGroup]="realmLoginSettingForm" (ngSubmit)="onSubmit()">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12">
      <mat-slide-toggle color="primary" [checked]="realmLoginSettingForm.value.userRegistration" formControlName="userRegistration">
        User registration
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" [checked]="realmLoginSettingForm.value.editUsername" formControlName="editUsername">
        Edit username
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" [checked]="realmLoginSettingForm.value.forgotPassword" formControlName="forgotPassword">
        Forgot password
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" [checked]="realmLoginSettingForm.value.rememberMe" formControlName="rememberMe">
        Remember Me
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" [checked]="realmLoginSettingForm.value.verifyEmail" formControlName="verifyEmail">
        Verify email
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" [checked]="realmLoginSettingForm.value.loginWithEmail" formControlName="loginWithEmail">
        Login with email
      </mat-slide-toggle>
    </div>
  </div>

  <button mat-raised-button color="primary" type="submit">
    Save
  </button>

  <button mat-raised-button color="basic" type="button" class="ml-1">
    Cancel
  </button>
</form>
