<form [formGroup]="loginForm" *ngIf="this.loginForm" (ngSubmit)="onSubmit()">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12">
      <mat-slide-toggle color="primary" formControlName="userRegistration">
        User registration
      </mat-slide-toggle>
    </div>
    <div class="col-12">
      <mat-slide-toggle color="primary" formControlName="editUsername">
        Edit username
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" formControlName="forgotPassword">
        Forgot password
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" formControlName="rememberMe">
        Remember Me
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" formControlName="verifyEmail">
        Verify email
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-slide-toggle color="primary" formControlName="loginWithEmail">
        Login with email
      </mat-slide-toggle>
    </div>
  </div>

  <button mat-raised-button color="primary" type="submit">
    Save
  </button>

</form>
