<diV class="clients" *ngIf="!isRoles">

    <div class="addButton">
        <mat-form-field>
            <mat-label>New User</mat-label>
            <input required matInput [(ngModel)]="username">
        </mat-form-field>
        <button (click)="addUser(username)" mat-raised-button color="primary">Add</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> role </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="viewRoles(element.username,element.id)">Roles</button>
                <div class="controlls">
                    <mat-icon (click)="deleteUser(element.username)" class="edit" aria-hidden="false" aria-label="create">delete</mat-icon>
                    <mat-icon (click)="updateUser(element.username)" class="edit" aria-hidden="false" aria-label="create">create</mat-icon>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</diV>
<div *ngIf="isRoles">
    <app-roles></app-roles>
    <Button (click)="goBack()">Back</Button>
</div>