<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center m-4">
        <div class="col-12 d-flex justify-content-center">
            <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
                <mat-form-field class="mr-3">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
                <mat-form-field class="mr-3">
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" matInput>
                </mat-form-field>
                <mat-form-field class="mr-3">
                    <mat-label>Email</mat-label>
                    <input required type="email" formControlName="email" required matInput>
                </mat-form-field>
                <button class="mr-3" [disabled]="!form.valid" mat-raised-button color="primary">Add</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <table mat-table [dataSource]="allUsers" class="mat-elevation-z8 w-75 client-table ">
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> User Roles </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button (click)="userRoles(element)">Roles</button>

                        <mat-icon class="float-right ml-3 table-icon" (click)="deleteUser(element.username)" aria-hidden="false" aria-label="create">delete</mat-icon>
                        <mat-icon class="float-right table-icon" (click)="updateUser(element.username)" aria-hidden="false" aria-label="create">create</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>

</div>