<div class="container-fluid">
  <form>
    <div class="form-group" [formGroup]="newClientForm"  (submit)="onSubmite()">
      <h1 class="text-center font-italic mb-4">New Client</h1>
      <input type="text" class="form-control" placeholder="Client Name">
      <br/>
      <input type="text" formControlName="clientFrontendUrl" class="form-control" placeholder="ClientFrontendUrl">
      <br/>
      <input type="text" formControlName="authorizationServerFrontendURL" class="form-control" placeholder="ClientBackendURL">
      <br/>
      <input type="text" formControlName="clientBackendURL" class="form-control" placeholder="AuthorizationFrontendUrl">
    </div>
    <button type="submit" class="btn btn-primary float-right mb-2">Save</button>

    <button class="btn btn-primary mr-3 float-right mb-2">Cancel</button>
  </form>
</div>
