<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-10 offset-1">
      <nav class="groupNav navbar navbar-dark bg-primary ">
        <a class="navbar-brand" href="#">Groups</a>
        <button [routerLink]="['/home/create-group']" mat-raised-button>Add</button>
      </nav>
      <table class="table groupTable border border-dark  ">
        <thead>
        <tr>
          <th scope="col">Group name</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of allGroups">
          <td class="groupName" scope="row">{{group.name}}
          </td>
          <td>
            <button class="mr-4" (click)="(groupUsers(group))" mat-raised-button color="primary">Details</button>
            <button (click)="deleteGroup(group)" mat-raised-button color="warn">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


