table {
    width: 15%;
    margin: 10px;
}

table td {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    align-items: center;
}

table th {
    display: flex;
    justify-content: center;
    height: 53px;
    align-items: center;
}