<div class="container">

    <div class="roles">
        <mat-list role="list">
            <div>
                <div class="title">
                    All Roles
                </div>

                <mat-list-item   *ngFor="let role of allRoles" role="listitem">
                    <mat-list-item-content>
                        {{role.name}}
                        <button (click)="addRole(role.name)">add</button>
                    </mat-list-item-content>
                       
                 </mat-list-item>
            </div>
        </mat-list>
    </div>

   
    <div class="roles">
        <mat-list role="list">
            <div class="title">
                User Role
            </div>
            <mat-list-item  style="cursor: pointer" onclick="" *ngFor="let role of userRoles" role="listitem"><span>
                <mat-list-item-content>
                    {{role.name}}
                    <button (click) = deleteUserRole(role.name)>remove</button>
                </mat-list-item-content>
            
            </span></mat-list-item>

          </mat-list>          
    </div>
</div>

